* {
  box-sizing: border-box;
}
:root {
  --primary-color: #2e80ce;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* Common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  display: inline-block;
  text-decoration: none;
}
.btn {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.66; /* 175% */
  border-radius: 30px;
  background: #2e80ce;
  transition: all 0.25s linear;
}
.btn:hover {
  opacity: 0.9;
}
.action {
  display: flex;
  margin-top: 38px;
  justify-content: center;
}
.action__back,
.action__next {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action__back:hover,
.action__next:hover {
  color: #fff;
  background-color: #2e80ce;
  cursor: pointer;
}
.action__next {
  margin-left: 18px;
}
/* Header */
.header {
  min-height: 100vh;
  background: #10375c;
  padding: 30px 0 110px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.logo__link {
}
.logo__img {
}
.logo__name {
  width: 50px;
  text-align: right;
  color: #fff;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.16; /* 77.778% */
  margin-left: 6px;
}
.logo__name strong {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 0.77; /* 77.778% */
}
.nav {
}
.nav__list {
  display: flex;
}
.nav__item + .nav__item {
  margin-left: 42px;
}
.nav__item {
  position: relative;
}
.nav__item a.nav__active::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  top: 10px;
  left: -10px;
}
.nav__item a {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
a.nav__active,
.nav__item a:hover {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.header-action {
  display: flex;
  align-items: center;
}
.login {
  color: #c9d2da;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-right: 28px;
  padding: 8px 0px;
}
.signup {
  line-height: 1.75; /* 175% */
  padding: 8px 20px;
  font-size: 1.6rem;
  border-radius: 22px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
}
.hero__content {
  max-width: 517px;
}
.hero__content .heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
  margin-top: 60px;
}
.hero__content .desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
  margin-top: 22px;
}
.hero__content .row {
  margin-top: 38px;
}
.hero__content--btn {
  padding: 15px 46px;
}
.hero__content .hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
  margin-left: 38px;
}
.hero__media {
}
.hero__images {
  display: flex;
  align-items: center;
}
.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}
/* ===============SERVICE=========== */
.service {
  padding: 170px 0;
}
.section-heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  display: flex;
  margin: 18px auto 0;
  width: 468px;
  color: #575f66;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}
.section-row {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.service__list {
  margin-top: 35px;
}
.service-item:hover {
  border-radius: 10px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item {
  display: flex;
  width: 470px;
  height: 120px;
  padding: 21px 18px 20px 22px;
  transition: all 0.25s linear;
}
.service-item:hover .service-item__icon {
  background-color: var(--primary-color);
  color: #fff;
}
.service-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background: #eff6fd;
  border-radius: 50%;

  transition: all 0.25s linear;
}

.service-item__body {
  margin-left: 19px;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 8px;
}
.service__btn {
  padding: 15px 48px;
  margin-top: 55px;
}
/* ======== WORK ======== */
.work {
  padding: 100px 0px 116px;
  background: #f6fbff;
}
.work .section-desc,
.work .section-heading {
  display: block;
  text-align: left;
  margin-left: 0;
}
.work .section-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 86px;
}
.work__item {
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: all 0.25s linear;
  padding: 43px 42px;
}
.work__item:hover {
  border-color: #2e80ce;
  margin: -16px 0 16px;
}
.work__logo {
  width: 72px;
  height: 72px;
}
.work__item--h3 {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
  margin-top: 18px;
}
.work__item--desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 28px;
}
.work__item--link {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 18px;
}
/* =============== FEATURE ============== */
.feature {
  padding: 170px 0 170px;
}

.feature-left {
  display: flex;
  margin: 0;
}
.feature-img:first-child {
  width: 512px;
  height: 370px;
}
.feature-img:last-child {
  width: 332px;
  height: 370px;
  margin-left: -274px;
  margin-top: 121px;
}
.feature-img:first-child,
.feature-img:last-child {
  border-radius: 6px;
  object-fit: cover;
}

.feature-right {
  margin-left: 130px;
}
.feature .section-desc,
.feature .section-heading {
  display: block;
  text-align: left;
  margin-left: 0;
}
.feature .section-heading {
  margin-top: 82px;
}
.feature .btn {
  padding: 15px 52px;
  margin-top: 38px;
}
/* ======== MEMBER =============*/
.member {
}
.member .btn {
  display: flex;
  justify-content: center;
  width: 205px;
  padding: 15px 27px;
  margin: auto;
  margin-top: 38px;
}
.member__name {
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-top: 12px;
}
.member__info {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85; /* 185.714% */
}

/*================ INSTALL============== */
.install {
  padding: 170px 0;
}
.install-body {
  display: flex;
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
  margin-top: 95px;
}
.install-img {
  margin-top: -95px;
  margin-left: 70px;
}
.install-right {
  min-width: 50%;
  padding: 76px 70px 74px 160px;
}
.install .section-heading {
  width: 489px;
}
.install .section-desc {
  width: 586px;
}
.install .section-heading,
.install .section-desc {
  display: block;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  color: #fff;
}
.install-download {
  display: flex;
  margin-top: 38px;
}
.install-download__link:last-child {
  margin-left: 28px;
}
/*=============== NEWS =========== */
.news {
  padding-bottom: 170px;
}
.news .container {
  display: flex;
  justify-content: space-between;
}
.news-left {
}
.news .section-heading {
  display: block;
  text-align: left;
}
.news-left__link {
  color: #10375c;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.55; /* 155.556% */
  text-decoration-line: underline;
}
.news .action {
  justify-content: flex-start;
}
.news-right {
  display: flex;
  gap: 30px;
}
.news-right__item {
  width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
}
.news-right__item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  border: 0;
}
.news-item__info {
  padding: 18px 22px 21px;
}
.news-item__img {
}
.news-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
  word-wrap: break-word;
}
.news-item__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
  padding-top: 10px;
}
.news-item__link {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 12px;
}
.news-item__link:hover {
  color: #2e80ce;
}
/* ============APPOINTMENT============= */
.appointment {
  padding-bottom: 170px;
}
.appointment-body {
  background: #f6fbff;
  padding: 100px 179px;
}
.appointment-hr {
  display: block;
  margin: 18px auto;
  width: 136px;
  height: 2px;
  background: #2e80ce;
}
.appointment .section-desc {
  width: 617px;
}
.appointment .btn {
  display: flex;
  justify-content: center;
  width: 205px;
  padding: 15px 41px;
  margin: auto;
  margin-top: 38px;
}

/* ==============FOOTER============= */
.footer {
  background: #10375c;
  padding: 100px 0 42px;
  font-family: "Open Sans", sans-serif;
}
.footer-row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}
.footer-desc {
  color: #a9b3bb;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-top: 21px;
}
.footer-heading {
  color: #fff;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.footer__list {
  margin-top: 20px;
  margin-bottom: 28px;
}
.footer__link {
  color: #a9b3bb;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  text-wrap: nowrap;
}
.footer__link + .footer__link {
  margin-top: 10px;
}
.footer__link:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.footer__list--logo {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 28px;
}
.footer__logo--link a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #2e80ce;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}
.footer__logo--link a:hover {
  background-color: #2e80ce;
  color: #fff;
}
.footer__input {
  margin-top: 10px;
}
#input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background-color: transparent;
  padding: 10px 10px;
  margin-right: 10px;
  color: #fff;
  outline: none;
}
#input::placeholder {
  color: #9ca8b1;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}

.footer__btn {
  color: #fff;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.85; /* 185.714% */
  padding: 10px 21px;
  border-radius: 4px;
  background: #2e80ce;
}
.coppyright {
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  border-top: 1px solid #406181;
  padding-top: 28px;
}
